.DS_Store

*.log
*.pot
*.pyc
*.pyo
*.db
*.sql
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
node_modules/
theme/static/dist/
theme/static/dist/
/static

.vscode*

docker/*tar.gz
docker/*whl
