.blog-post {
    margin-bottom: 8rem;

    .intro {
        color: get-palette(highlight, 3);
        font-weight: get-font(weight-bold);
        margin-bottom: 2rem;
    }

    .content {
        font-family: get-font(family-content);
        margin-bottom: 4rem;
    }

    .block-paragraph:first-of-type p:first-child::first-letter {
        float: left;
        font-size: 4rem;
        margin: 1.2rem 0.4rem 0 0;
        line-height: 0.5;
    }

    .blog-image {
        border-radius: get-size(border-radius);
        margin-bottom: 2rem;

        @include mq($from: lg) {
            margin-bottom: 3rem;
        }
    }
}
