.dark-theme-toggle {
    display: none;
    right: 4rem;
    opacity: 0;
    position: absolute;
    padding: 1rem 1.3rem;

    @include icon('\f042', before);  // fa-circle-half-stroke

    &::before {
        transition: transform 0.3s ease;
    }

    &.-active::before {
        transform: rotate(180deg);
    }

    &:active, &:focus, &:hover {
        background-color: transparent;
    }

    &.inside-site-nav {
        @include mq($until: lg) {
            align-items: baseline;
            display: flex;
            font-size: 1.2rem;
            margin: 0 auto;
            padding: 0;
            position: static;
            opacity: 1;
        }

        &::before {
            margin-right: 0.5rem;
        }
    }

    &.outside-site-nav {
        position: absolute;

        @include mq($from: lg) {
            display: flex;
            opacity: 1;
        }
    }
}
