.site-footer {
    align-items: center;
    background-color: #0C1E7F;
    background-image: linear-gradient(225deg, #D22779 0%, #612897 50%, #0C1E7F 100%);
    bottom: 0;
    color: #fff;
    display: flex;
    font-size: 90%;
    position: relative;
    text-align: center;
    width: 100%;

    .content {
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .social {
        display: flex;
        justify-content: center;
        list-style-type: none;

        .button {
            font-size: 1.2rem;
            padding: 1rem;
        }

        .twitter {
            @include icon('\f099', before); // fa-twitter
        }

        .facebook {
            @include icon('\f39e', before); // fa-facebook-f
        }

        .reddit {
            @include icon('\f281', before); // fa-reddit-alien
        }

        .linkedin {
            @include icon('\f0e1', before); // fa-linkedin-in
        }

        .tg {
            @include icon('\f2c6', before); // fa-telegram
        }
    }
}
